{% extends 'weishop/base.html' %}


{% block title %}Customer List{% endblock %}

{% block content %}
<div class="customer-list">
    <h2>All Customers</h2>
    <a href="{% url 'customer_create' %}" class="btn-create">Add New Customer</a>
    <table class="customer-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.last_name }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{% url 'customer_detail' customer.pk %}">View</a> |
                    <a href="{% url 'customer_update' customer.pk %}">Edit</a> |
                    <a href="{% url 'customer_delete' customer.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No customers available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}