body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  text-align: center;
}

header, footer {
  background-color: #4267B2;
  color: white;
  padding: 10px 0;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Table Styling */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #4267B2;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Profile Image */
img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: cover;
}

button, a {
  background-color: #4267B2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover, a:hover {
  background-color: #365899;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  table {
      width: 100%;
  }

  th, td {
      padding: 10px;
  }
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

