{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/minifb-style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Mini Facebook</title>
  </head>
  <body>
    <header>
      <h1>Mini Facebook</h1>
      {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }} | 
          <a href="{% url 'logout' %}" class="logout-link" 
             onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
        </p>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
          {% csrf_token %}
        </form>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </header>

    <nav>
      <!-- Navigation bar -->
      <a href="{% url 'show_all_profiles' %}">View All Profiles</a>
      {% if user.is_authenticated %}
        {% if user.profile %}
          <a href="{% url 'show_profile' user.profile.pk %}">My Profile</a>
        {% endif %}
        <a href="{% url 'create_profile' %}">Create New Profile</a>
      {% else %}
        <a href="{% url 'create_profile' %}">Create New Profile</a>
      {% endif %}
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      <p>&copy; 2024 Mini Facebook by Wei Zhu</p>
    </footer>
  </body>
</html>
