{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Friend Suggestions for {{ profile.first_name }} {{ profile.last_name }}</h2>

<ul class="friend-suggestions-list">
  {% for suggestion in profile.get_friend_suggestions %}
  <li>
    <a href="{% url 'show_profile' suggestion.pk %}">
      <img src="{{ suggestion.profile_image_url }}" alt="{{ suggestion.first_name }}'s Profile Picture" class="friend-image">
      <span class="friend-name">{{ suggestion.first_name }} {{ suggestion.last_name }}</span>
    </a>
    <a href="{% url 'add_friend' suggestion.pk %}" class="add-friend-button">Add Friend</a>
  </li>
  {% empty %}
  <li>No friend suggestions available.</li>
  {% endfor %}
</ul>

<a href="{% url 'show_profile' profile.pk %}" class="back-link">Back to Profile</a>
{% endblock %}
